@import '../../../assets/mixin.scss';

.navbarContainer{
    @include flexCenter;
    height: 70px;
    justify-content: space-between;
    padding: 0 350px; 
    @include small {
        padding: 1px 50px
    }
}