@import '../../../assets/mixin.scss', '../../../assets/variables.scss';

.barContainer{
    display: flex;
    align-items: center;
    .titleBar{
        width: 150px;
    }
    .barWrap{
        -webkit-box-shadow: inset 0px 0px 66px -50px rgba(0,0,0,0.46);
        -moz-box-shadow: inset 0px 0px 66px -50px rgba(0,0,0,0.46);
        box-shadow: inset 0px 0px 66px -50px rgba(0,0,0,0.46);
        margin-left: $px20;
        display: flex;
        width: 400px;
        height: $px20;
        border-radius: 10px;
        .barPower{
            height: $px20;
            background-color: blue;
            border-radius: 10px;

        }
        .barValue{
            // background-color: white;
            position: relative;
            margin-left: 5px;
            height: 23px;
            width: 50px;
            @include shadowBox
        }
    }
}