.pokemonType{
    width: 100px;
    padding: 5px 3px;
    color: white;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    text-transform: capitalize;
}

.grass{
    background-color: green;
}
.poison{
    background-color: purple;
}
.fire{
    background-color: red;
}
.flying{
    background-color: blue;
}
.bug{
    background-color: brown;
}
.defaultColor{
    background-color: gray;
}

.water{
    background-color: rgb(49, 183, 200);
}

.electric{
    background-color: rgb(207, 207, 44);
}