@import '../../../assets/mixin.scss';

.buttonPaginationContainer{
    display: flex;
    flex-direction: row;
    // background-color: red;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    @include shadowBox;
    border-radius: 7px;
}