@import '../../../assets/mixin.scss';

.statusContainer{
    @include shadowBox;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.5s ease;
    .statusImage{
        width: 50px;
        height: 50px;
    }
    p{
        margin: 0;
        margin-top: 10px;
    }
    &:hover{
        transform: scale(1.1);
        @include shadowBoxBlur;
    }
}